// Specific CSS for your home-page

body {
  font-family: Helvetica;
  color: black;
}

a {
  color: grey;
}

.card-body .card-img-top {
  padding: 0px 0px !important;
}

.links-card {
  text-align: center;
}


.card-title {
  font-size: 1.5em;
}

.form-card {
  padding: 0px;
}
